@page "/"
@inject UserStateService UserStateService

<PageTitle>Index | @Globals.AppName</PageTitle>

<MudGrid Class="m-0 w-100">
    <MudItem xs="12" Class="dashboard-paper-name-farmhouse">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">- @loc["Dashboard_LocalFarmer"] -</MudPaper>
    </MudItem>

    <AuthorizeView>
        <Authorized>
            @if (UserStateService.CurrentUser?.IdFarmhouse != null)
            {
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/myproducts">@loc["Product_My_Products"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/addproduct">@loc["Product_Add_Product"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/notes">@loc["X_Notes"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/editfarmhouse">@loc["Farmhouse_Edit_Farmhouse"]</MudButton>
                </MudItem>
            }
            else
            {
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/addFarmhouse">@loc["Farmhouse_Add_Farmhouse"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/farmhouses">@loc["Farmhouse_List_Farmhouses"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/notes">@loc["X_Notes"]</MudButton>
                </MudItem>
            }
        </Authorized>
        <NotAuthorized>
            <MudItem xs="12" Class="dashboard-paper-name-farmhouse">
                <MudPaper Class="d-flex flex-column align-center mud-width-full py-8">
                    <MudText Typo="Typo.h5">@loc["Dashboard_Hello"] </MudText>
                        <MudText Typo="Typo.h5">@loc["Dashboard_Hello2"] </MudText>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" Class="dashboard-button">
                <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/register">@loc["Account_Create_Account"]</MudButton>
            </MudItem>
            <MudItem xs="12" sm="6" Class="dashboard-button">
                <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/farmhouses">@loc["Farmhouse_List_Farmhouses"]</MudButton>
            </MudItem>
        </NotAuthorized>
    </AuthorizeView>


@*    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">My orders</MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Add product</MudPaper>
    </MudItem>*@
</MudGrid>

@code {
    // protected async override Task OnInitializedAsync()
    // {

    // }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        int? idFarmhouse = UserStateService.CurrentUser?.IdFarmhouse;
        var idUser = UserStateService.CurrentUser?.IdUser;
    }
}

@*
Zrobić PLAN działania
0. Chat wyglad + dzialanie
- boczna liste poprawic - 
- w formie listy oraz tekst osatniej wiadomosci i pogrubione jak nie przeczytana lub jakos inaczej zaznaczone, że mamy tutaj coś do przeczytania. np. Czerwona kroka obok nazwy użytkownika.
- po wyslaniu wiadomosci powinno być aktualizowana lista i gdzie wiadomość ostatnia jest napisana. / ewentualnie pogrubic tylko nick, a wiadomosci ostatniej nie pokazywac??
- ale trzeba dodac przycisk delete, ale nie usuwamy historii, bo moze 2 osoba to potrzebuje ? Albo tylko nasze wiadomosci usuwamy? zobaczymy

1. Alerty CHAT
Tylko tutaj powinniśmy też sprawdzać IdUsera, bo mam nowe wiadomości od 2 osób to powinny być 2 alerty i oba alerty powinny przenieś nas do Chatu, a tam w jakiś sposób pokazywać z kim czatujemy
Zrobić przeneisienie od razu do chatpriv z tym userem jak klikam w alert i wtedy alert ustawiamy na isOpen = true lub isOpen ustawiać na true jak wejdziemy w chat.
Alert powinien zostać dodany tylko 1 jak wyślemy 3 wiadomości do kogoś. -> sprawdzamy czy IsOpen jako ten typ jest false, jezeli tak to nie dodajemy nowego?

2. sprawdzić
- Jak jest puste 
- dlugosc okienka z chatem na laptopie jest zbyt dluga - do sprawdzenia
- Contact - dodac cos jeszcze - ale co - link do githuba oraz nie wiem co
- add farmhouse -> poczatkowa wartosc niech bedzie ustawiona na polske a nie na afryke
- Mapa jak jest pusta to bledy sypie


1. Dodać alert przywitalny - aby zawsze był chociaż 1 alert i zrobić alerty w 1 kolejności
1. Alerty dokończyć - sprawdzić te bazodanowe (poprawione)
2. Tłuaczenie robić przy okazji
3. UI poprawić 
4. Zamykać appke

*@

@* SMALL TASKS *@
@*
1.
Powinno być wszędzie mniej więcej to
@if (userDto == null)
{
    <p><em>Loading...</em></p>
}

2.
Ujednolić  (int)UserStateService.CurrentUser.IdFarmhouse itd z usera danymi

3.
Nalezy wykorzystać funkcje z ValidateService dla szerokości i wysokość geograficznej - pytanie czy gdzieś jeszcze to można zmienić? bo tylko mapa jest 
-> wydaje mi się, że dobrze by było wyłaczyć na chwile enabled i dodać kontrole z tych funkcji a potem ustawić to z powrtem

4.
Alerty - coś inacezj zrobić akcje SetAllAlertsAsReadForUser - bo tam mam IdUser - tego, który wykonał akcje (ten, który dał suba, albo dał opinie)
Ja otwierma jako inny user i powinienem w inny sposob je odczytywać 
 2 jezyczne alerty ? jak to by zrobić ? Może dać Enum dla alertów i tylko dodawać wiadomość albo je tłumaczyć przez jakiś zewnętrzy program na jezyk ten albo ten
Dodać alert - że wiadomość na mojego maila została wysłana

*@

@* 
Tabela Alerts
IdUser - jaki user wykonał te akcje 
IdFarmhouse - kogo dotyczy ten alerts
InfoFromFarmhouse - true/false - sprawdzic czy jest dobrze
*@

@* Alerty  *@

@* Cz1 *@
@* Zmiana otawrcie/zamknięcie favorite farmhouse - OK *@
@* Dodanie nowego produktu od favorite  - OK *@
@* Edycja produktu od favorite  - OK -> Sprawdzac model *@
@* Edycja na mapie lub Zmiany informacji (adress, nr telefonu lub coś innego) od favoriteod favorite  -> Sprawdzac model *@

@* Cz2 *@
@* Ktoś polubi moj farmhouse  - OK *@
@* DOda opinie o moim farmhouse - OK *@
@* Przywitanie - ??? *@

@* ------------------- *@

@* Pomysły na potem *@
@* Dodać CHAT w aplikacji dla tych do mają konto  *@
@* Chyba Pass - reszte odnośnie ustawień uzytkownika i ludzi co są (np. ich telefony) - 1 konto ale można wpisać wiele numerów telefonu / wiele kontaktów (albo max 3)  *@

@* Jaki wykres - Przygotować wykres dla Farmhouse *@
@* Zrobic widok, aby sprawdzić tylko te co nas interesuja czy mają cos nowego - jak mają coś nowego to powinna być lista rzeczy jak wejdzeimy w apke lub lista powiadomień
albo i lista wszystkich rzeczy jakie mają i lista nowych (np. z ostatnich 30 dni) *@
@* Lista zamówień dla gospodarza ??? *@
@* Inny widok - same kafelki na tableta widok *@

@* hosting  *@
@* Płatny dla ponoć dobry *@
@* https://www.webio.pl/ *@

@* Do sprawdzenia *@
@* https://www.ovhcloud.com/pl/ *@
@* https://azure.microsoft.com/pl-pl/products/app-service/ *@

@* Ponoć free *@
@* https://freeasphosting.net/ *@