@page "/"
@inject UserStateService UserStateService

<PageTitle>Index | @Globals.AppName</PageTitle>

<MudGrid Class="m-0 w-100">
    <MudItem xs="12" Class="dashboard-paper-name-farmhouse">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">- @loc["Dashboard_LocalFarmer"] -</MudPaper>
    </MudItem>

    <AuthorizeView>
        <Authorized>
            @if (UserStateService.CurrentUser?.IdFarmhouse != null)
            {
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/myproducts">@loc["Product_My_Products"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/addproduct">@loc["Product_Add_Product"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/notes">@loc["X_Notes"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/editfarmhouse">@loc["Farmhouse_Edit_Farmhouse"]</MudButton>
                </MudItem>
            }
            else
            {
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/addFarmhouse">@loc["Farmhouse_Add_Farmhouse"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/farmhouses">@loc["Farmhouse_List_Farmhouses"]</MudButton>
                </MudItem>
                <MudItem xs="12" sm="6" Class="dashboard-button">
                    <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/notes">@loc["X_Notes"]</MudButton>
                </MudItem>
            }
        </Authorized>
        <NotAuthorized>
            <MudItem xs="12" Class="dashboard-paper-name-farmhouse">
                <MudPaper Class="d-flex flex-column align-center mud-width-full py-8">
                    <MudText Typo="Typo.h5">@loc["Dashboard_Hello"] </MudText>
                        <MudText Typo="Typo.h5">@loc["Dashboard_Hello2"] </MudText>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" Class="dashboard-button">
                <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/register">@loc["Account_Create_Account"]</MudButton>
            </MudItem>
            <MudItem xs="12" sm="6" Class="dashboard-button">
                <MudButton Variant="Variant.Outlined" Class="d-flex align-center justify-center mud-width-full py-8" Href="/farmhouses">@loc["Farmhouse_List_Farmhouses"]</MudButton>
            </MudItem>
        </NotAuthorized>
    </AuthorizeView>


@*    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">My orders</MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Add product</MudPaper>
    </MudItem>*@
</MudGrid>

@code {
    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        int? idFarmhouse = UserStateService.CurrentUser?.IdFarmhouse;
        var idUser = UserStateService.CurrentUser?.IdUser;
    }
}

@*
Deploy aplikacje !!!

- @loc["Dashboard_Contact"] + FAQ | czy inna nazwa?
- Sprawdzić 'TODO:' + sprawdzić komentarze usunąc zostawić albo dodać TODO lub coś innego
- Kolory w css ustawić pod zmienne, które mamy ustawione
- Alerty -> Wyświetlić to jakoś inaczej ??? Tylko jak to zrobić aby było dobrze

Zrobić PLAN działania - lista co zrobić po kolei, reszte zapisać do DevOps i zamykać apke

1. Alerty CHAT
Jak wchodzimy w chat z dana osoba to powinniśmy dać wszystkie nasze alerty na open ??? - Jakoś przerobić te alerty ale jak jeszcze nie wiem :/
Tylko tutaj powinniśmy też sprawdzać IdUsera, bo mam nowe wiadomości od 2 osób to powinny być 2 alerty i oba alerty powinny przenieś nas do Chatu, a tam w jakiś sposób pokazywać z kim czatujemy
Zrobić przeneisienie od razu do chatpriv z tym userem jak klikam w alert i wtedy alert ustawiamy na isOpen = true lub isOpen ustawiać na true jak wejdziemy w chat.
Alert powinien zostać dodany tylko 1 jak wyślemy 3 wiadomości do kogoś. -> sprawdzamy czy IsOpen jako ten typ jest false, jezeli tak to nie dodajemy nowego?
Okno od alertów - przenieś wszystkie w inne miejsce i wylaczyc podświetlenie dla listy


2. sprawdzić
- Jakos oznaczyć, że przeczytane - wtedy pogrubienei można ściągnąć z ostatniej wiadomości od kogoś - DONE -> sprawdzić czy tak zostawiamy
w formie listy oraz tekst osatniej wiadomosci i pogrubione jak nie przeczytana lub jakos inaczej zaznaczone, że mamy tutaj coś do przeczytania. np. Czerwona kroka obok nazwy użytkownika. I dopiero jak
klikniemy w chat to wtedy aplikacja oznacza jako przeczytane - tak jak na Slacku
- Jak jest puste czyli zadnego chatu jeszcze nie mamy rozpoczetego / rozpoczęcie nowego chatu
- add farmhouse -> niech zapyta o dostęp do lokalizacji - jezeli pozwolimy to niech zczyta i ustawi nam to co znalazł

- Mapa jak jest pusta to bledy sypie
- Mapa przy 1 wejsciu sypie błąd - ale mozlwie ze po wdrożeniu juzb bedzie git

3. Na koniec
- Usunąć Id z tabel
- Sprawdzić sortowanie

1. Dodać alert przywitalny - aby zawsze był chociaż 1 alert i zrobić alerty w 1 kolejności
1. Alerty dokończyć - sprawdzić te bazodanowe (poprawione)
2. Tłuaczenie robić przy okazji - chyba wiekszosc oki
3. UI poprawić - przetestować obecny + alerty może inaczej pasek rozwijany
4. Zakładka kontakt czy oby na pewno taka? Możę coś tam dodać tylko co?
5. Zamykać appke
6. Data dla kultury polskiej a angielskiej jest inaczej wyświetalana 11.05.2025 | 5/11/2025 - Czy to ruszam??
*@

@* SMALL TASKS *@
@*
1.
Powinno być wszędzie mniej więcej to
@if (userDto == null)
{
    <p><em>Loading...</em></p>
}

2.
Ujednolić  (int)UserStateService.CurrentUser.IdFarmhouse itd z usera danymi

3.
Nalezy wykorzystać funkcje z ValidateService dla szerokości i wysokość geograficznej - pytanie czy gdzieś jeszcze to można zmienić? bo tylko mapa jest 
-> wydaje mi się, że dobrze by było wyłaczyć na chwile enabled i dodać kontrole z tych funkcji a potem ustawić to z powrtem

4.
Alerty - coś inacezj zrobić akcje SetAllAlertsAsReadForUser - bo tam mam IdUser - tego, który wykonał akcje (ten, który dał suba, albo dał opinie)
Ja otwierma jako inny user i powinienem w inny sposob je odczytywać 
 2 jezyczne alerty ? jak to by zrobić ? Może dać Enum dla alertów i tylko dodawać wiadomość albo je tłumaczyć przez jakiś zewnętrzy program na jezyk ten albo ten
Dodać alert - że wiadomość na mojego maila została wysłana

*@

@* 
Tabela Alerts
IdUser - jaki user wykonał te akcje 
IdFarmhouse - kogo dotyczy ten alerts
InfoFromFarmhouse - true/false - sprawdzic czy jest dobrze
*@

@* Alerty  *@

@* Cz1 *@
@* Zmiana otawrcie/zamknięcie favorite farmhouse - OK *@
@* Dodanie nowego produktu od favorite  - OK *@
@* Edycja produktu od favorite  - OK -> Sprawdzac model *@
@* Edycja na mapie lub Zmiany informacji (adress, nr telefonu lub coś innego) od favoriteod favorite  -> Sprawdzac model *@

@* Cz2 *@
@* Ktoś polubi moj farmhouse  - OK *@
@* DOda opinie o moim farmhouse - OK *@
@* Przywitanie - ??? *@

@* ------------------- *@

@* Pomysły na potem *@

@* Zrobic widok, aby sprawdzić tylko te co nas interesuja czy mają cos nowego - jak mają coś nowego to powinna być lista rzeczy jak wejdzeimy w apke lub lista powiadomień
albo i lista wszystkich rzeczy jakie mają i lista nowych (np. z ostatnich 30 dni) *@
@* Inny widok - same kafelki na tableta widok *@

@* PREMIUM dla tych co maja gospodarstwo *@
@*
    Sprawdza Ci o konkretnej godzinei czy masz nowe wiadomości - jezeli tak to dostajesz SMSa/Emaila
    Dla gospodarstw jakieś wykres/panel opisujący/umożliwający ile sie sprzedało poprzez aplikacje itd
    Lista zamówień dla gospodarza
    Chyba Pass - reszte odnośnie ustawień uzytkownika i ludzi co są (np. ich telefony) - 1 konto ale można wpisać wiele numerów telefonu / wiele kontaktów (albo max 3)
    ---
    Opłata jednorazowa - dostęp do komunikacji z wybranym gospodarstwem - numeru telefonu/emaila/chatu?? - Musi widzieć czy jest podane wszystko
*@

@* hosting  *@
@* Płatny dla ponoć dobry *@
@* https://www.webio.pl/ *@

@* Do sprawdzenia *@
@* https://www.ovhcloud.com/pl/ *@
@* https://azure.microsoft.com/pl-pl/products/app-service/ *@

@* Ponoć free *@
@* https://freeasphosting.net/ *@