@page "/contact"
@using System.Text.Json
@using System.Globalization
@inject HttpClient Http
@inject UtilsService UtilsService

<PageTitle>@loc["X_Contact"] | @Globals.AppName</PageTitle>

<div class="container-contact">
    <MudPaper Class="contact-content">
        <div class="mud-table-toolbar titlePage">
            <MudText Typo="Typo.h6">@loc["X_Contact"]</MudText>
        </div>
        <div class="main-wrapper">
            <MudButton Class="ml-3" OnClick='() => UtilsService.OpenDialogSendMessage()' Variant="Variant.Filled" Color="Color.Primary">
                @loc["Farmhouse_Send_Message"]
            </MudButton>
        </div>
        <div class="mud-table-toolbar titlePage mt2">
            <MudText Typo="Typo.h6">FAQ</MudText>
        </div>
        <MudExpansionPanels Class="mt-2" Elevation="0">
            @foreach (var item in FaqItems)
            {
                <MudExpansionPanel Text="@item.Question[CurrentLang]">
                    @item.Answer[CurrentLang]
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
        <div class="github-wrapper">
            <MudIconButton Class="github" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="github" Href="https://github.com/Hirq" Target="_blank" />
        </div>
    </MudPaper>
</div>

@code {
    private List<FaqItem> FaqItems = new List<FaqItem>();
    private string CurrentLang => CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;

    protected override async Task OnInitializedAsync()
    {
        var json = await Http.GetStringAsync("faq.json");
        var options = new JsonSerializerOptions
            {
                PropertyNameCaseInsensitive = true
            };

        FaqItems = JsonSerializer.Deserialize<List<FaqItem>>(json, options);
    }
}

<style>
    .container-contact {
        height: calc(100vh - 64px);
        display: flex;
        flex-direction: column;
    }

    .contact-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .main-wrapper {
        display: flex;
        flex-direction: row;
    }

    .github-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: center;
    }
</style>