@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LocalFarmer2</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@


<MudNavMenu>
    <MudText Typo="Typo.h6" Class="px-4">Local Farmer</MudText>
    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">
        Jan Kowalski
    </MudText>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/farmhouses" Icon="@Icons.Material.Filled.Storage" Match="NavLinkMatch.Prefix">Farmhouses</MudNavLink>
    <MudNavLink Href="/products" Icon="@Icons.Material.Filled.ShoppingBasket" Match="NavLinkMatch.Prefix">Products</MudNavLink>
</MudNavMenu>

<AuthorizeView>
    <Authorized>
        <MudNavMenu Style="margin-top: auto">
            <MudNavLink Href="/LogOut" Icon="@Icons.Material.Filled.CarRepair" Match="NavLinkMatch.Prefix" Class="">Logout</MudNavLink>
        </MudNavMenu>
    </Authorized>
    <NotAuthorized>
        <MudNavMenu Style="margin-top: auto">
            <MudNavLink Href="/register" Icon="@Icons.Material.Filled.CarRepair" Match="NavLinkMatch.Prefix" Class="">Register</MudNavLink>
            <MudNavLink Href="/login" Icon="@Icons.Material.Filled.Male" Match="NavLinkMatch.Prefix">Login</MudNavLink>
        </MudNavMenu>
    </NotAuthorized>
</AuthorizeView>


