@namespace LocalFarmer2.Client.Pages

<MudButton Variant="Variant.Filled" Color="@ColorButton" OnClick="@ToggleOpen">@Name</MudButton>
    <div class="popup-delete" tabindex="0" @onkeydown="HandleKeyDown">
    <MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
        <div class="d-flex flex-column">
            <MudText>@Content</MudText>
            <div class="d-flex flex-row justify-space-between mt-7 mb-2">
                <MudButton OnClick="@Action" Class="mb-1" Variant="Variant.Filled" Color="@ColorButton">@Name</MudButton>
                <MudButton OnClick="@ToggleOpen" Class="mb-1" Color="Color.Error">Close</MudButton>
            </div>
        </div>
    </MudPopover>
</div>

@code {
    [Parameter]
    public string Name { get; set; }  

    [Parameter]
    public MudBlazor.Color ColorButton { get; set; }    

    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public Action Action { get; set; }

    public bool _isOpen;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }   

    private void HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Escape")
        {
            _isOpen = false;
        }
    }

}

<style>
    .popup-delete {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>