@page "/addFarmhouse"
@inherits BasePage
@inject IMapper mapper
@inject IFarmhouseService FarmhouseService
@inject IJSRuntime JSRuntime
@inject IAlertService AlertService
@inject UserStateService UserStateService
@inject NavigationManager NavigationManager
@inject ValidateService ValidateService
@inject FileService FileService

<PageTitle>@loc["Farmhouse_Add_Farmhouse"] | @Globals.AppName</PageTitle>

<AuthorizeView>
    <EditForm Model="farmhouseDto" OnValidSubmit="OnValidSubmit" Context="editForm">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="d-flex justify-center" Typo="Typo.h6">@loc["Farmhouse_Add_Farmhouse"]</MudText>
                <MudPaper Class="pa-4">
                    <MudTextField T="String" Label="@loc["X_Name"]" @bind-Value="farmhouseDto.Name" @ref="farmhouseNameField" Required For="@(() => farmhouseDto.Name)" ErrorText="@loc["Validation_Required"]" />
                    <MudTextField T="String" Label="@loc["X_Description"]" @bind-Value="farmhouseDto.Description" />
                    <MudTextField T="String" Label="@loc["Farmhouse_Address"]" @bind-Value="farmhouseDto.Address" />
                    <MudTextField T="String" Label="@loc["Farmhouse_Phone"]" @bind-Value="farmhouseDto.Phone" />
                    <MudTextField T="String" Label="Email" @bind-Value="farmhouseDto.Email" For="@(() => farmhouseDto.Email)" ErrorText="@loc["ErrorEmailValid"]" />
                    <MudSelect T="String" Label="@loc["Farmhouse_Payment_Methods"]" MultiSelection="true" SelectAll="true" @ref="paymentMethodsField" Required RequiredError="@loc["Validation_Required"]" @bind-Value="@farmhouseDto.PaymentMethods" @bind-SelectedValues="SelectedPayment">
                        @foreach (var method in PaymentMethodInfo.PaymentMethods)
                        {
                            <MudSelectItem T="string" Value="@method">@method</MudSelectItem>
                        }
                    </MudSelect>
                    <EditFile Name="@loc["Farmhouse_Photo"]" Model="@farmhouseDto" IsOpenPhoto=false />
                    <MudTextField Disabled Id="latitude_input" Label="@loc["Farmhouse_Latitude"]" @bind-Value="farmhouseDto.Latitude" @ref="latitudeField" Required Placeholder="Max 90" RequiredError="@loc["Validation_Required"]" />
                    <MudTextField Disabled Id="longitude_input" Label="@loc["Farmhouse_Longitude"]" @bind-Value="farmhouseDto.Longitude" @ref="longitudeField" Required Placeholder="Max 180" RequiredError="@loc["Validation_Required"]" />
                </MudPaper>
                <MudPaper Class="pa-4 mt-4">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@loc["X_Save"]</MudButton>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </EditForm>
    <div id="map" style="height: 400px;"></div>

</AuthorizeView>

@code {
    private IJSObjectReference? module;
    private string? result;
    private string? latitude;
    private string? longitude;
    private AddFarmhouseDto farmhouseDto = new AddFarmhouseDto();
    private IEnumerable<string> SelectedPayment { get; set; } = PaymentMethodInfo.DefaultPayment;
    private MudTextField<string> farmhouseNameField;
    private MudTextField<string> latitudeField;
    private MudTextField<string> longitudeField;
    private MudSelect<string> paymentMethodsField;

    protected override Task LoadDataAsync()
    {
        FileService.ClearVariables();
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await farmhouseNameField.FocusAsync();
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/leafletmap.js");
            if (module != null)
            {
                result = await module.InvokeAsync<string>("setCoordinates", "map");
            }
        }
    }

    private async void OnValidSubmit(EditContext context)
    {
        if (module != null)
        {
            latitude = await module.InvokeAsync<string>("getValueById", "latitude_input");
            longitude = await module.InvokeAsync<string>("getValueById", "longitude_input");
        }

        farmhouseDto.Latitude = latitude;
        farmhouseDto.Longitude = longitude;

        var fieldsToValidate = new List<FieldToValidate>
        {
            new FieldToValidate(latitudeField, farmhouseDto.Latitude),
            new FieldToValidate(longitudeField, farmhouseDto.Longitude),
            new FieldToValidate(paymentMethodsField, farmhouseDto.PaymentMethods)
        };

        context.Validate();

        if (ValidateService.ValidateMudTextFields(fieldsToValidate))
        {
            return;
        }

        if (string.IsNullOrEmpty(UserStateService.CurrentUser?.IdUser))
        {
            throw new Exception("AddFarmhouse: Not found user");
        }     
        
        farmhouseDto.IdUser = UserStateService.CurrentUser.IdUser;
        var idFarmhouse = await FarmhouseService.AddFarmhouse(farmhouseDto);
        UserStateService.CurrentUser.FarmhouseName = farmhouseDto.Name;
        UserStateService.CurrentUser.IdFarmhouse = idFarmhouse;
        AlertService.SetSuccessAlert($"{@loc["Alert_Successfully"]} {@loc["Alert_Add_Farmhouse"]} {farmhouseDto.Name}");

        NavigationManager.NavigateTo("/");
        _ = AlertService.ClearAlertAfterDelay();
    }
}