@page "/farmhouse/{id:int}"
@using Newtonsoft.Json.Linq
@inject IFarmhouseService FarmhouseService
@inject IOpinionService OpinionService
@inject IJSRuntime JSRuntime
@inject UtilsService UtilsService
@implements IAsyncDisposable
<PageTitle>Farmhouse</PageTitle>

<h2>Name: @farmhouse.Name</h2>
<h2>Id: @farmhouse.Id</h2>
@if (farmhouse.ImageData != null && !string.IsNullOrEmpty(farmhouse.ImageMimeType))
{
    <img src="@($"data:{farmhouse.ImageMimeType};base64,{Convert.ToBase64String(farmhouse.ImageData)}")" alt="Farmhouse Image" />
}
@if (listOpinion.Count > 0)
{
    <h2>Average opinion: @average</h2>
    <h2>Opinion about this farmhouse</h2>
    foreach (var opinion in listOpinion)
    {
        <div>
            <p>Rating: @opinion.Rating</p>
            <p>@opinion.Comment </p>
            <br />
        </div>
    }
}
<MudButton OnClick='() => UtilsService.OpenDialogSendMessage(loc["Farmhouse_Contact_Form"], loc["Farmhouse_Send"], () => Test(), farmhouse.Email, Color.Primary)' Variant="Variant.Filled" Color="Color.Info">@loc["Farmhouse_Send_Message"]</MudButton>

@* Może ilość ocen też dodać gdzieś? i jakieś 5 ostatnich ocen? lub jakis random  *@
<h2>Latitude: @farmhouse.Latitude </h2>
<h2>Longitude: @farmhouse.Longitude</h2>
<h2>Tip: Network => disable cache set true</h2>
<h2>MAPA</h2>
<div id="map" style="height:70vh; width: 100%"></div>
@code {
    [Parameter]
    public int Id { get; set; }

    public List<Opinion> listOpinion = new List<Opinion>();
    public double? average { get; set; }

    private IJSObjectReference? module;
    private string? result;

    Farmhouse farmhouse = new Farmhouse();

    protected override async Task OnInitializedAsync()
    {
        farmhouse = await FarmhouseService.GetFarmhouse(Id);
        listOpinion = await OpinionService.AllOpinionsForFarmhouse(Id);
        if (listOpinion.Count > 0)
        {
            average = await OpinionService.AverageForFarmhouse(Id);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var client = new HttpClient();
            var raw = await client.GetStringAsync("https://localhost:7239/geojson.json");
            JArray jsonArray = JArray.Parse(raw);
            JObject newEntry = new JObject
                {
                    ["type"] = "Feature",
                    ["geometry"] = new JObject
                    {
                        ["type"] = "Point",
                        ["coordinates"] = new JArray(farmhouse.Longitude, farmhouse.Latitude)
                    },
                    ["properties"] = new JObject
                    {
                        ["name"] = farmhouse.Name
                    }
                };

            jsonArray.Add(newEntry);
            raw = jsonArray.ToString();

            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/leafletmap.js");
            if (module != null)
            {
                result = await module.InvokeAsync<string>("load_map", Convert.ToString(raw), farmhouse.Latitude, farmhouse.Longitude);
            }
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    private void Test()
    {
        Console.WriteLine("Test work");
    }
}
