@page "/editFarmhouse"
@inject UserStateService UserStateService
@inject IMapper mapper
@inject IAccountService AccountService
@inject IFarmhouseService FarmhouseService
@inject IFavoriteFarmhouseService FavoriteFarmhouseService
@inject IJSRuntime JSRuntime
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject ValidateService ValidateService
@inject FileService FileService
@inject IDialogService DialogService

@if (farmhouseDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView>
        <EditForm Model="farmhouseDto" OnValidSubmit="OnValidSubmit" Context="editForm">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudText Class="d-flex justify-center" Typo="Typo.h6">Edit farmhouse</MudText>
                    @if (@currentUser?.IdFarmhouse != null)
                    {
                        <MudPaper Class="pa-4">
                            <MudTextField T="String" Label="Farmhouse name" @bind-Value="farmhouseDto.Name" @ref="farmhouseNameField" Required="true" RequiredError="Farmhouse name is required!" />
                            <MudTextField T="String" Label="Description" @bind-Value="farmhouseDto.Description" />
                            <MudTextField T="String" Label="Address" @bind-Value="farmhouseDto.Address" />
                            <MudTextField T="String" Label="Phone" @bind-Value="farmhouseDto.Phone" />
                            <MudTextField T="String" Label="Email" @bind-Value="farmhouseDto.Email" />
                            <MudSelect T="string" Label="Payment methods" MultiSelection="true" SelectAll="true" @ref="paymentMethodsField" Required="true" @bind-Value="@farmhouseDto.PaymentMethods" @bind-SelectedValues="SelectedPayment">
                                @foreach (var method in PaymentMethodInfo.PaymentMethods)
                                {
                                    <MudSelectItem T="string" Value="@method">@method</MudSelectItem>
                                }
                            </MudSelect>
                            <MudTextField T="String" Id="latitude_input" Disabled Label="Latitude" @bind-Value="farmhouseDto.Latitude" @ref="latitudeField" Required="true" Placeholder="Max 90" RequiredError="Latitude is required!" />
                            <MudTextField T="String" Id="longitude_input" Disabled Label="Longitude" @bind-Value="farmhouseDto.Longitude" @ref="longitudeField" Required="true" Placeholder="Max 180" RequiredError="Longitude is required!" />
                            <MudCheckBox T="Boolean" Checked="farmhouseDto.IsOpen" CheckedChanged="HandleCheckedChanged" Color="Color.Primary" Label="Active" />
                            <EditFile Name="Photo farmhouse" Model="@farmhouseDto" />
                         </MudPaper>
                    }
                    <MudPaper Class="pa-4 mt-4 d-flex justify-space-between">
                        <div>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                            <MudButton OnClick="() => UnlockMap()" id="buttonChangeMarker" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary">Change marker</MudButton>
                        </div>
                        <div>
                            <PopupDelete Name="Delete" Content="Are u sure delete this farmhouse?" ColorButton="@Color.Error" Action="() => DeleteFarmhouse()" />
                            <MudButton OnClick="() => OpenDialog()" Variant="Variant.Filled" Color="Color.Primary">
                                Options Dialog
                            </MudButton>
                        </div>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>

        <div id="map" style="height: 400px;"></div>
        <div id="map2" style="height: 400px; display: none;"></div>
    </AuthorizeView>
}

@code {
    [Parameter]
    public FarmhouseDto farmhouseDto { get; set; }

    private IJSObjectReference? module;
    private string? result;
    private string? latitude;
    private string? longitude;
    private UserDto? currentUser;
    private bool isUserSignUp;
    private IEnumerable<string> SelectedPayment { get; set; } = PaymentMethodInfo.DefaultPayment;
    private MudTextField<string> farmhouseNameField;
    private MudTextField<string> latitudeField;
    private MudTextField<string> longitudeField;
    private MudSelect<string> paymentMethodsField;

    public int Id { get; set; }
    public bool initIsOpen;

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<PopupDeleteNew>("Simple Dialog", options);
    }

    protected async override Task OnInitializedAsync()
    {
        isUserSignUp = await AccountService.IsUserSignUp();

        if (isUserSignUp)
        {
            currentUser = await AccountService.GetCurrentUser();
            UserStateService.CurrentUser = currentUser;
            if (UserStateService.CurrentUser?.IdFarmhouse != null)
            {
                var farmhouse = await FarmhouseService.GetFarmhouse((int)currentUser?.IdFarmhouse!);
                farmhouseDto = mapper.Map<FarmhouseDto>(farmhouse);
                SelectedPayment = farmhouseDto.PaymentMethods.Split(',').Select(s => s.Trim());
                initIsOpen = farmhouseDto.IsOpen;
                if (farmhouseDto.ImageData != null && !string.IsNullOrEmpty(farmhouseDto.ImageMimeType))
                {
                    //TODO: Zapisać nazwę tego zdjęcia do bazy - lub w jakiś inny sposób poinformować o tym, że zdjęcie jest ustawione
                    FileService.SetName("Image for farmhouse is set");
                }
                // await farmhouseNameField.FocusAsync();
            }
            else
            {
                throw new Exception("You must first set farmhouse, before edit");
            }
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        // await base.OnParametersSetAsync();
        var client = new HttpClient();
        var raw = await client.GetStringAsync("https://localhost:7239/geojson.json");
        JArray jsonArray = JArray.Parse(raw);
        JObject newEntry = new JObject
            {
                ["type"] = "Feature",
                ["geometry"] = new JObject
                {
                    ["type"] = "Point",
                    ["coordinates"] = new JArray(farmhouseDto.Longitude, farmhouseDto.Latitude)
                },
                ["properties"] = new JObject
                {
                    ["name"] = farmhouseDto.Name
                }
            };

        jsonArray.Add(newEntry);
        raw = jsonArray.ToString();

        module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/leafletmap.js");
        if (module != null)
        {
            result = await module.InvokeAsync<string>("load_map", Convert.ToString(raw), farmhouseDto.Latitude, farmhouseDto.Longitude);
        }
    }

    private async void OnValidSubmit(EditContext context)
    {
        if (module != null)
        {
            latitude = await module.InvokeAsync<string>("getValueById", "latitude_input");
            longitude = await module.InvokeAsync<string>("getValueById", "longitude_input");
        }

        farmhouseDto.Latitude = latitude;
        farmhouseDto.Longitude = longitude;

        var fieldsToValidate = new (object Field, string Value)[]
        {
            (latitudeField, farmhouseDto.Latitude),
            (longitudeField, farmhouseDto.Longitude),
            (paymentMethodsField, farmhouseDto.PaymentMethods),
        };

        //TODO: Moze tego IdUser też do ValidationService przerzucić

        context.Validate();
        if (ValidateService.ValidateMudTextFields(fieldsToValidate))
        {
            return;
        }

        //TODO: Czy to mapowanie jest potrzebne?
        FarmhouseDto dto = mapper.Map<FarmhouseDto>(farmhouseDto);
        await FarmhouseService.EditFarmhouse(dto, (int)currentUser?.IdFarmhouse!);
        UserStateService.CurrentUser.FarmhouseName = farmhouseDto.Name;

        //Alerts
        var listUsersIds = await FavoriteFarmhouseService.GetFavoriteFarmhouseUsersIds((int)currentUser.IdFarmhouse);
        if (farmhouseDto.IsOpen != initIsOpen)
        {
            var messageAlertIsOpen = new MessageAlert(MessageAlertEnum.MessageIsOpen, farmhouseDto.Name, null, farmhouseDto.IsOpen);
            await AlertService.AddAlerts(listUsersIds, (int)currentUser.IdFarmhouse, true, messageAlertIsOpen);
        }

        //TODO: 
        // Powinno być tylko gdy faktycznie coś się zmieniło - sprawdzać model, który był na poczatku i ten koncówy - jak ejst różnica to wysłac, jak nie ma to nie.
        var messageAlertEdit = new MessageAlert(MessageAlertEnum.EditDetails, UserStateService.CurrentUser.FarmhouseName);
        await AlertService.AddAlerts(listUsersIds, (int)currentUser.IdFarmhouse, true, messageAlertEdit);

        AlertService.SetSuccessAlert($"Successfully edited farmhouse {farmhouseDto.Name}");
        NavigationManager.NavigateTo("/");
    }

    private async void DeleteFarmhouse()
    {
        if (currentUser?.IdFarmhouse != null)
        {
            await FarmhouseService.DeleteFarmhouse((int)currentUser.IdFarmhouse);
            UserStateService.CurrentUser.FarmhouseName = null;
            UserStateService.CurrentUser.IdFarmhouse = null;
            AlertService.SetSuccessAlert($"Deleted farmhouse {farmhouseDto.Name}");
            NavigationManager.NavigateTo("/");
        }
    }

    private async void UnlockMap()
    {
        if (module != null)
        {
            result = await module.InvokeAsync<string>("setDisplayMap", "map", "none");
            result = await module.InvokeAsync<string>("removeMap", "map");
            result = await module.InvokeAsync<string>("disableButton", "buttonChangeMarker", "true");
            result = await module.InvokeAsync<string>("setDisplayMap", "map2", "block");
            result = await module.InvokeAsync<string>("setCoordinates", "map2", farmhouseDto.Latitude, farmhouseDto.Longitude);
        }
    }

    private void HandleCheckedChanged(bool isChecked)
    {
        farmhouseDto.IsOpen = isChecked;
    }
}