@page "/account/logindisplay"
@using System.Globalization
@inject IAccountService AccountService
@inject UserStateService UserStateService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime

<AuthorizeView>
    <Authorized>
        <button @onclick="ChangeCulture">Change Culture</button>
        <div>@loc["Hey"]</div>
        <br />
        
        <div>IdUser: @UserStateService.CurrentUser?.IdUser</div>
        <div>FullName: @UserStateService.CurrentUser?.FullName</div>
        <div>UserName: @UserStateService.CurrentUser?.UserName</div>
        <div>FarmhouseId: @UserStateService.CurrentUser?.IdFarmhouse</div>
        <div>Farmhouse: @UserStateService.CurrentUser?.FarmhouseName</div>
    </Authorized>
</AuthorizeView>

@code {
    private async Task ChangeCulture()
    {
        var culture = CultureInfo.CurrentCulture.Name == "en-US" ? "pl-PL" : "en-US";
        await JSRuntime.InvokeVoidAsync("blazorCulture.set", culture);
        CultureInfo.DefaultThreadCurrentCulture = new CultureInfo(culture);
        CultureInfo.DefaultThreadCurrentUICulture = new CultureInfo(culture);
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }

    // private UserDto currentUser = new UserDto()
    //     {
    //         UserName = "",
    //         IdFarmhouse = 0,
    //         FarmhouseName = ""
    //     };
    // private bool isUserSignUp;

    // protected async override Task OnInitializedAsync()
    // {
    //     isUserSignUp = await AccountService.IsUserSignUp();

    //     if (isUserSignUp)
    //     {
    //         currentUser = await AccountService.GetCurrentUser();
    //         UserStateService.CurrentUser = currentUser;
    //     }
    // }
}