@page "/myaccount"
@inherits BasePage
@inject IMapper mapper;
@inject IAccountService AccountService
@inject IAlertService AlertService
@inject UserStateService UserStateService
@inject NavigationManager NavigationManager

<PageTitle>@loc["Account_My_Account"] | @Globals.AppName</PageTitle>

@if (isLoading)
{
    <MudProgressCircular Class="m-4" Color="Color.Primary" />
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
}
else
{
    <AuthorizeView>
        <MudPaper Class="mudPaperTop">
            <div class="mud-table-toolbar titlePage">
                <MudText Class="d-flex justify-center" Typo="Typo.h6">@loc["Account_My_Account"]</MudText>
            </div>
        </MudPaper>
        <EditForm Model="userDto" OnValidSubmit="OnValidSubmit" Context="editForm">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Class="mudPaperBottom pa-4">
                        <MudTextField T="string" Label="@loc["Account_Full_Name"]" @bind-Value="userDto.FullName" Required RequiredError="@loc["Validation_Required"]" />
                    </MudPaper>
                    <MudPaper Class="pa-4 mt-4">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@loc["X_Save"]</MudButton>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </EditForm>
    </AuthorizeView>
}

@code {
    [Parameter]
    public UserDto userDto { get; set; }

    protected async override Task LoadDataAsync()
    {
        bool isUserSignUp = await AccountService.IsUserLogged();

        if (isUserSignUp)
        {
            userDto = await AccountService.GetCurrentUser();
        }
        else
        {
            // errorMessage = loc["Farmhouse_Missing_For_Edit"];
            errorMessage = "XXX";
            return;
        }
    }

    private async void OnValidSubmit(EditContext context)
    {
        var editDto = mapper.Map<EditUserDto>(userDto);
        await AccountService.EditUser(editDto);
        UserStateService.CurrentUser.FullName = editDto.FullName;
        AlertService.SetSuccessAlert($"You new Fullname is: {editDto.FullName}");
        NavigationManager.NavigateTo("/");
        _ = AlertService.ClearAlertAfterDelay();
    }
}
