@page "/myalerts"
@inherits BasePage
@inject IAlertService AlertService
@inject UserStateService UserStateService
@inject SearchService SearchService
@inject UtilsService UtilsService

<PageTitle>@loc["X_Alerts"] | @Globals.AppName</PageTitle>


@if (isLoading)
{
    <MudProgressCircular Class="m-4" Color="Color.Primary" />
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
}
else
{
    <div class="mud-table mud-xs-table mud-table-hover mud-elevation-1">
        <div class="mud-toolbar mud-toolbar-gutters mud-table-toolbar">
            <MudText Typo="Typo.h6">@loc["X_Alerts"]</MudText>
            <MudSpacer />
            @if (FilterName == loc["Filter_All"])
            {
                <MudButton Class="mr-2" Color="Color.Warning" Variant="Variant.Filled" OnClick="@(() => SetAsRead())">@loc["Alert_As_Read"]</MudButton>
            }
            <MudButton Class="mr-2" Color="Color.Warning" Variant="Variant.Filled" OnClick="@(() => FilterNew())">@FilterName</MudButton>
            <MudTextField @bind-Value="SearchService.SearchString" Placeholder="@loc["X_Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 input-search"></MudTextField>
        </div>
        <MudExpansionPanels MultiExpansion="true">
            @foreach (var group in ListAlert.Where(a => UtilsService.FilterFunc(a, SearchService.SearchString)).GroupBy(a => a.AlertEnum))
            {
                <MudExpansionPanel>
                    <TitleContent>
                        <div class="d-flex">
                            <MudText><b>@GetAlertName(@group.Key)</b></MudText>
                            <MudChip Color="Color.Primary" Size="Size.Small" Class="ml-2">@group.Count()</MudChip>
                        </div>
                    </TitleContent>
                    <ChildContent>
                        <MudList Clickable="true">
                            @foreach (var alert in group.OrderByDescending(a => a.DateCreated))
                            {
                                var details = GetAlertDetails(alert.AlertEnum);
                                <MudListItem Icon="@details.Icon" IconColor="@details.Color">
                                    <div class="d-flex justify-space-between w-100">
                                        <span>@alert.Message</span>
                                        <MudText Typo="Typo.caption">@alert.DateCreated.ToString("g")</MudText>
                                    </div>
                                </MudListItem>
                            }
                        </MudList>
                    </ChildContent>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </div>
}
@code {
    List<Alert> ListAlert = new List<Alert>();
    List<Alert> originalListAlert = new List<Alert>();

    bool isNewFilterActive = false;
    private string FilterName = string.Empty;

    protected override async Task LoadDataAsync()
    {
        if (!await EnsureLoggedInAsync())
        {
            return;
        }

        ListAlert = await AlertService.GetAllForUser(UserStateService.CurrentUser.IdUser, UserStateService.CurrentUser.IdFarmhouse);
        ListAlert = ListAlert.OrderByDescending(a => a.DateCreated).ToList();
        originalListAlert = ListAlert;
        FilterNew();
    }

    private (string Icon, Color Color) GetAlertDetails(MessageAlertEnum alertEnum)
    {
        return alertEnum switch
        {
            MessageAlertEnum.FarmhouseIsOpen => (Icons.Material.Filled.Store, Color.Info),
            MessageAlertEnum.NewProduct => (Icons.Material.Filled.AddShoppingCart, Color.Success),
            MessageAlertEnum.EditProduct => (Icons.Material.Filled.Edit, Color.Default),
            MessageAlertEnum.EditDetails => (Icons.Material.Filled.EditNote, Color.Default),
            MessageAlertEnum.NewSubscriber => (Icons.Material.Filled.PersonAdd, Color.Primary),
            MessageAlertEnum.NewOpinion => (Icons.Material.Filled.Star, Color.Warning),
            _ => (Icons.Material.Filled.Notifications, Color.Default)
        };
    }

    private string GetAlertName(MessageAlertEnum alertEnum)
    {
        var name = alertEnum switch
        {
            MessageAlertEnum.FarmhouseIsOpen => $"{loc["Alert_IsOpen_Farmhouse"]}",
            MessageAlertEnum.NewProduct => $"{loc["Alert_Add_Product"]}",
            MessageAlertEnum.EditProduct => $"{loc["Alert_Edit_Product"]}",
            MessageAlertEnum.EditDetails => $"{loc["Alert_Edit_Farmhouse"]}",
            MessageAlertEnum.NewSubscriber => $"{loc["Alert_Add_Subscribe"]}",
            MessageAlertEnum.NewOpinion => $"{loc["Alert_Add_Opinion"]}",
            _ => $"{loc["Alert_Others"]}"
        };

        return name.CapitalizeFirst();
    }

    private void FilterNew()
    {
        isNewFilterActive = !isNewFilterActive;

        if (isNewFilterActive)
        {
            ListAlert = originalListAlert.Where(x => x.IsOpen).ToList();
            FilterName = loc["Filter_All"];
        }
        else
        {
            ListAlert = originalListAlert;
            FilterName = loc["Filter_New"];
        }
    }

    private void SetAsRead()
    {
        
    }
}
