@page "/register"
@inject IAccountService AuthService
@inject IAlertService AlertService
@inject NavigationManager NavigationManager
@inject UserStateService UserStateService

<PageTitle>@loc["Account_Register"] | @Globals.AppName</PageTitle>

<h1>@loc["Account_Register"]</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors!)
        {
            <p>@error</p>
        }
    </div>
}

<MudPaper Class="pa-4">
    <h5 class="card-title">@loc["Account_Start_Text"]</h5>
    <EditForm Model="RegisterModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="email">@loc["Account_Email_Address"]</label>
            <InputText Id="email" class="form-control form-control-account" @bind-Value="RegisterModel.Email" />
            @* <ValidationMessage For="@(() => RegisterModel.Email)" /> *@
        </div>
        <div class="form-group">
            <label for="password">@loc["Account_Password"]</label>
            <InputText Id="password" type="password" class="form-control form-control-account" @bind-Value="RegisterModel.Password" />
            @* <ValidationMessage For="@(() => RegisterModel.Password)" /> *@
        </div>
        <div class="form-group">
            <label for="passwordConfirm">@loc["Account_Password_Confirm"]</label>
            <InputText Id="passwordConfirm" type="password" class="form-control form-control-account" @bind-Value="RegisterModel.ConfirmPassword" />
            @* <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)" /> *@
        </div>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@loc["Button_Submit"]</MudButton>
    </EditForm>
</MudPaper>

@code {
    private RegisterDto RegisterModel = new RegisterDto();
    private bool ShowErrors;
    private IEnumerable<string>? Errors;

    protected override async Task OnInitializedAsync()
    {
        if (UserStateService.IsUserLogged)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task HandleRegistration()
    {
        ShowErrors = false;

        var result = await AuthService.Register(RegisterModel);

        if (result.Successful)
        {
            var messageAlert = new MessageAlert(MessageAlertEnum.Welcome, "Welcome");
            var user = await AuthService.GetUser(result.Email);
            List<string> listUsersIds = new List<string> { user.IdUser };
            await AlertService.AddAlerts(listUsersIds, null , false, messageAlert);
            AlertService.SetSuccessAlert($"{@loc["Alert_Successfully"]} {@loc["Alert_Create_Account"]}");

            NavigationManager.NavigateTo("/login");
            _ = AlertService.ClearAlertAfterDelay();
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }
}